@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
}

.fa {
  color: white;
  margin-left: 1.5rem;
  font-size: 2rem;
}
